/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ebf5fb !important;
}

.container1  {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero Section */
.section-hero {
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

.section-hero .text-white {
    color: #8B4513; /* Change to brown */
    font-size: 25px;
    text-transform: uppercase; /* Capitalize the text */
}

.section-hero h1, .section-hero h4 {
    color: #8B4513; /* Brown color for name and email */
    text-transform: uppercase; /* Capitalize the text */
}

.section-hero .custom-breadcrumbs {
    margin-top: 10px;
}

.section-hero .custom-breadcrumbs a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.section-hero .custom-breadcrumbs .slash {
    color: #fff;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;

}

table th {
    background-color: #5d6d7e ;
    color: #fff;
    font-weight: bold;
}

table td {
    background-color: #eaecee;
    color: #000; /* Set table data font color to black */
    font-weight: bold;
}

/* Certificates Section */
.certificates {
    margin-top: 40px;
}

.certificates h3 {
    font-size: 28px;
    color: #34495e;
    margin-bottom: 20px;
    border-bottom: 5px solid #007bff;
    padding-bottom: 10px;
}

.certificate-item {
    border: 5px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.certificate-item h4 {
    margin-top: 0;
    font-size: 20px;
    color: #34495e;
}

.certificate-item p {
    margin: 10px 0;
    font-size: 16px;
}

.resume-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.resume-link:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-hero {
        padding: 50px 0;
        text-align: center;
    }

    .section-hero .text-white {
        font-size: 28px;
    }

    .container {
        padding: 10px;
    }

    table {
        font-size: 14px;
        border: none;
        box-shadow: none;
    }

    table th, table td {
        padding: 10px;
    }

    .certificates h3 {
        font-size: 22px;
    }

    .certificate-item {
        padding: 15px;
    }

    .certificate-item h4 {
        font-size: 18px;
    }
}
